# =========================
# Archivos compilados Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Carpetas de compilación
# =========================
target/
build/
dist/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
.metadata/

# =========================
# IntelliJ IDEA
# =========================
.idea/

# =========================
# NetBeans
# =========================
nbproject/private/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.temp

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.dbb